In [1]:
%run "Ch0 - setup.ipynb"

Window functions are expressions with superpowers. They allow you to perform aggregations on groups in the select context. Let's get a feel of what that means. First we create a dataset. The dataset loaded in the snippet below contains information about pokemon and has the following columns:

In [2]:
import polars as pl

# then let's load some csv data with information about pokemon
df = pl.read_csv(
    "https://gist.githubusercontent.com/ritchie46/cac6b337ea52281aa23c049250a4ff03/raw/89a957ff3919d90e6ef2d34235e6bf22304f3366/pokemon.csv"
)

In [8]:
df.sample(5)

shape: (5, 13)
┌─────┬──────────┬──────────┬────────┬─────┬─────────┬───────┬────────────┬───────────┐
│ #   ┆ Name     ┆ Type 1   ┆ Type 2 ┆ ... ┆ Sp. Def ┆ Speed ┆ Generation ┆ Legendary │
│ --- ┆ ---      ┆ ---      ┆ ---    ┆     ┆ ---     ┆ ---   ┆ ---        ┆ ---       │
│ i64 ┆ str      ┆ str      ┆ str    ┆     ┆ i64     ┆ i64   ┆ i64        ┆ bool      │
╞═════╪══════════╪══════════╪════════╪═════╪═════════╪═══════╪════════════╪═══════════╡
│ 19  ┆ Rattata  ┆ Normal   ┆ null   ┆ ... ┆ 35      ┆ 72    ┆ 1          ┆ false     │
│ 2   ┆ Ivysaur  ┆ Grass    ┆ Poison ┆ ... ┆ 80      ┆ 60    ┆ 1          ┆ false     │
│ 82  ┆ Magneton ┆ Electric ┆ Steel  ┆ ... ┆ 70      ┆ 70    ┆ 1          ┆ false     │
│ 111 ┆ Rhyhorn  ┆ Ground   ┆ Rock   ┆ ... ┆ 30      ┆ 25    ┆ 1          ┆ false     │
│ 64  ┆ Kadabra  ┆ Psychic  ┆ null   ┆ ... ┆ 70      ┆ 105   ┆ 1          ┆ false     │
└─────┴──────────┴──────────┴────────┴─────┴─────────┴───────┴────────────┴───────────┘

Groupby Aggregations in selection

Below we show how to use window functions to group over different columns and perform an aggregation on them. Doing so allows us to use multiple groupby operations in parallel, using a single query. The results of the aggregation are projected back to the original rows. Therefore, a window function will always lead to a DataFrame with the same size as the original.

Note how we call .over("Type 1") and .over(["Type 1", "Type 2"]). Using window functions we can aggregate over different groups in a single select call! Note that, in Rust, the type of the argument to over() must be a collection, so even when you're only using one column, you must provided it in an array.

The best part is, this won't cost you anything. The computed groups are cached and shared between different window expressions.